{
	"printWidth": 80,
	"singleQuote": true,
	"trailingComma": "es5",
	"semi": false,
	"useTabs": true,
	"quoteProps": "as-needed",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always"
}
