$icon-border-normal: #d0d0d0;
$icon-border-all-drops: #b300ff;
$icon-border-has-drops: blue;
$icon-border-good: green;
$icon-border-warning: orange;
$icon-border-danger: red;
$kol-color: blue;
$kol-color-fg: white;
$picker-bg: #f8f8f8;

.modCold {
	color: blue;
}

.modHot {
	color: red;
}

.modSleaze {
	color: blueviolet;
}

.modSpooky {
	color: #999999;
}

.modStench {
	color: green;
}

.chit-brick {
	background-color: white;
	border-collapse: separate;
	border: 1px solid #d0d0d0;
	empty-cells: show;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 5px;
	width: 100%;
	padding: 1px 1px 0px;
	border-spacing: 0px;
	text-align: center;
}

.chit-brick th {
	overflow-wrap: break-word;
	background-color: #efefef;
	padding: 2px;
}

.chit-icon {
	border: 1px solid $icon-border-normal;
	margin: 1px;
	max-width: 32px;
	max-height: 32px;
}

.chit-icon.chit-icon-weird {
	max-width: unset;
	max-height: unset;
}

.chit-icon.border-has-drops {
	border-color: $icon-border-has-drops;
}

.chit-icon.border-all-drops {
	border-color: $icon-border-all-drops;
}

.chit-icon.border-good {
	border-color: $icon-border-good;
}

.chit-icon.border-warning {
	border-color: $icon-border-warning;
}

.chit-icon.border-danger {
	border-color: $icon-border-danger;
}

.chit-icon.border-none {
	border: 0;
	margin: 0;
	padding: 0;
}

.chit-icon.small {
	max-width: 16px;
	max-height: 16px;
}

table.chit-picker {
	background-color: $picker-bg;
	border: 1px solid $kol-color;
	text-align: center;
	vertical-align: middle;
	padding: 0px;
	border-spacing: 0px;
}

.chit-icon-picker {
	background-color: $kol-color-fg;
}

.chit-icon-picker img.chit-icon {
	float: left;
}

.chit-picker .chit-picker-header th {
	text-align: center;
	background-color: $kol-color;
	color: $kol-color-fg;
	padding: 4px 12px;
	font-weight: bold;
}

.progress-bar {
	height: 4px;
	background-color: #eeeeee;
}

.progress-content {
	height: 4px;
	background-color: blue;
}

.desc-line {
	color: #707070;
}

.popup-desc-line {
	color: #aaaaaa;
}

.option-icon {
	/* this doesn't seem to work? */
	vertical-align: middle;
}

.option-body {
	text-align: center;
}

.option-enabled {
	border-bottom: 1px solid white;
}

.option-disabled {
	background-color: #e2e2e2;
	border-bottom: 1px solid white;
}

.picker-arrow {
	background-color: blue;
}

.picker-header {
	background-color: blue;
	color: white;
}

.picker-body {
	background-color: #f8f8f8;
}

.picker-footer {
	background-color: #f8f8f8;
}

.chit-effect {
	width: 100%;
}

.chit-effect-description {
	align-items: flex-start !important;
}
